<?xml version="1.0" encoding="shift_jis" ?>
<configuration>
    <appSettings>
        <add key="poderosa_installed_dir" value="" />

        <add key="protocols.connectable_dnsname" value="www.poderosa.org"/>
        <add key="protocols.unknown_dnsname" value="www.poderosaXXX.org"/>
        <add key="protocols.connectable_ip" value="66.102.7.104"/> <!-- Google -->
        <add key="protocols.unreachable_ip" value="192.168.100.100"/>
        <add key="protocols.connectable_port" value="80"/>
        <add key="protocols.closed_port" value="20000"/>

        <add key="protocols.telnet_connectable" value=""/>
        <add key="protocols.ssh_connectable" value=""/>
        <add key="protocols.ssh_account" value=""/>
        <add key="protocols.ssh_password" value=""/>
        <add key="protocols.ssh_wrongpassword" value=""/>
    </appSettings>
</configuration>
